*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    >ul{
        list-style: none;
        width: 100%;
        margin: 20px auto;
        display: flex;
        background-color: peachpuff;
        position: relative;
        >li{
            width: 100%;
            >a{
                text-align: center;
                list-style: none;
                color:black ;
                text-decoration: none;
                line-height: 50px;
                display: block;
            }
            >ul{
                position: absolute;
                width: 100%;
                top: 50px;
                left: 0;
                background-color: beige;
                opacity: 0;
                visibility: hidden;
                transform: translateY(20px);
                padding: 20px;
                transition: 0.5s;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                list-style: none;
                >li{
                    >ul{
                        list-style: none;
                    }
                }
            }
            &:hover{
                >ul{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }
            }
        }
    }
}