@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

$op : 'Open Sans', sans-serif;

body{
    background: #f7edd3;
}

header {
    background: #1d2775;
    width: 100%;
    height: 110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 56px;
    >nav{
        >ul{
            list-style: none;
            display: flex;
            margin-left: auto;
            >li{
                margin: 0 34px;
                >a{
                    text-decoration: none;
                    color: #f8eed4;
                    font-size: 20px;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}

.banner{
    width: 100%;
    background: #1d2775;
    margin: auto;
    display: grid;
    grid-template-columns: 1.45fr 2fr;
    grid-gap: 100px;
    padding-right: 56px;
    >figure{
        padding-bottom: 0px;
        >img{
            max-width: 100%;
            vertical-align: middle;
        }
    }
    >div{
        color: #fff;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: start;

        >h1{
            font-size: 80px;
            color: #f8eed4;
        }
        >article{
            font-size: 18px;
            margin: 40px 0px;
            color: #dcdff7;
            font-family: $op;
        }
        >button{
            background: #e185a9;
            border-width: 0;
            color: #fff;
            font-size: 22px;
            width: 170px;
            height: 50px;
        }
    }
}

.wcoc {
    width: 100%;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    >div{
        &:first-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
        >h2{
            color: #1e2875;
            font-size: 70px;
            margin-bottom: 70px;
        }
        >ul{
            list-style: none;
            >li{
                margin-bottom: 32px;
                display: grid;
                grid-template-columns: 1fr 100%;
                grid-gap: 60px;
                >img{
                    width: 100%;
                    margin-right: 20px;
                    margin-top: 9px;
                }
                >p{
                    font-size: 20px;
                    font-family: $op;
                }
            }
        }
    }
}

.coffeBanner {
    width: 100%;
    position: relative;
    >img{
        width: 100%;
        position: relative;
        vertical-align: middle;
    }
    >.text{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        >img{
            margin-bottom: 30px;
        }
        >h3{
            font-size: 40px;
            max-width: 600px;
            text-align: center;
            font-weight: 400;
            margin-bottom: 60px;
        }
        >p{
            font-size: 30px;
        }
    }
}

.oPro {
    width: 100%;
    display: flex;
    overflow: hidden;
    >img{
        vertical-align: middle;
        width: 23%;
    }
    >.products{
        width: 77%;
        padding: 100px 80px;
        >div{
            &:first-child{
                display: flex;
                justify-content: space-between;
                align-items: center;
                >h2{
                    color: #1e2875;
                    font-size: 52px;
                }
            }
            &:last-child{
                text-decoration: underline;
                color: #1e2875;
            }
            &:nth-child(2){
                display: flex;
                width: max-content;
                margin: 40px 0;
                margin-left: -200px;
                >div{
                    width: 460px;
                    margin-right: 20px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    >div{
                        &:first-child{
                            background: rgba(255,255,255,0.7);
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            >img{
                                width: 100%;
                            }
                        }
                        &:last-child{
                            background: #e79eb9;
                        }
                        >h4{
                            font-size: 32px;
                            color: #f8eed3;
                        }
                        >p{
                            font-size: 12px;
                            color: #f8eed3;
                            font-family: $op;
                        }
                    }
                }
            }
        }
    }
}