*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    width: 750px;
    background: red;
    margin: 20px auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    li{
        width: 100%;
        position: relative;
        >a{
            text-decoration: none;
            color: white;
            line-height: 50px;
            display: block;
        }
        &:hover{
            background: blue;
            >,snav{
                display: block;
            }
        }
    }
}
.snav {
    list-style: none;
    background: red;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    display: none;
    >li{
        &:hover{
            >.ssnav{
                display: block;
            }
        }
    }
}
.ssnav {
    @extend .snav;
    top: 0%;
    left: 100%;
}