*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main {
    width: 100px;
    height: 100px;
    background: dodgerblue;
    position: absolute;
    /* 
    animation-name: aws;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    */
    animation: aws 5s infinite linear;
}

@keyframes aws {
    0% {top: calc(50% - 50px); left: 0;}
    25% {top: 0; left: calc(50% - 50px);}
    50% {top: calc(50% - 50px); left: calc(100% - 100px);}
    75% {top: calc(100% - 100px); left: calc(50% - 50px);}
    100% {top: calc(50% - 50px); left: 0;}
}


