*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    display: grid;   
}

.pic1{
    width: 300px;
    height: 300px;
    background: url("../Picture/Oliver-Zipse-BMW-CEO.jpg");
    background-size: cover;
    border-radius: 4px;
}

.pic2{
    width: 300px;
    height: 300px;
    background: url("../Picture/1200x-1.jpg");
    background-size: cover;
    border-radius: 4px;
}

.pic3{
    width: 300px;
    height: 300px;
    background: url("../Picture/Daimler_press.jpg");
    background-size: cover;
    border-radius: 4px;
}

.text{
    width: 300px;
}

@media screen and (min-width: 1020px){
    .main{
        grid-template-columns: repeat(3, 1fr);
        margin: 15px;
        padding: 15px;
    }

}

@media screen and (min-width: 650px) and (max-width: 1020px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
        padding: 10x;
    }
    .text{
        background: plum;
    }
}

@media screen and (max-width: 650px) {
    .main{
        grid-template-columns: repeat(1, 1fr);
        margin: 5px;
        padding: 5px;
    }
    .text{
        background: chocolate;
    }
}